*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.fl{
    float: left;
}

.conteiner{
    max-width: 1200px;
    margin: 0 auto;
}

/* inizio sezione immagini shop */

[class*="img-conteiner"]{
    height: 600px;
    width: calc(100% / 3 - 30px);
    margin: 15px;
    margin-bottom: 100px;
}

.img-conteiner1{
    background: url(../img/1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img-conteiner1:hover {
    background: url(../img/1-hover.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img-conteiner2{
    background: url(../img/2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img-conteiner2:hover {
    background: url(../img/2-hover.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img-conteiner3{
    background: url(../img/3.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img-conteiner3:hover {
    background: url(../img/3-hover.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.img-conteiner4{
    background: url(../img/4.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img-conteiner4:hover {
    background: url(../img/4-hover.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img-conteiner5{
    background: url(../img/5.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img-conteiner5:hover {
    background: url(../img/5-hover.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img-conteiner6{
    background: url(../img/6.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img-conteiner6:hover {
    background: url(../img/6-hover.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* inizio sezione sconti */

.img-relative{
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
}

.img-heart{
    position: absolute;
    background: white;
    font-size: 30px;
    padding: 5px;
    right: 0;
    top: 20px;
    color: black;
}

.img-sconto{
    position: absolute;
    bottom: 20px;
    background: #eb0037;
    padding: 5px;
}

.img-qualità{
    position: absolute;
    bottom: 20px;
    left: 50px;
    background: #00875a;
    padding: 5px;
}

/* inizio sezione testo immagini */

.img-text{
    height: 100px;
    padding-top: 10px;
    position: relative;
}

.img-textspecial{
    background: #5ab451;
    height: 100px;
    padding: 20px;
}
.img-text > h3{
    font-size: 14px;
    color: #818181;
}

.img-text > h2{
    font-size: 18px;
    color: black;
}

.img-textspecial > h2{
    font-size: 20px;
    color: black;
}
.img-textspecial > h3{
    font-size: 18px;
    color: black;
    margin-top: 15px;
    font-weight: 200;
}

.price{
    position: absolute;
    color: red;
    font-size: 18px;
    font-weight: bold;
    left: 0;
    bottom: 15px;
}

.b-price{
    position: absolute;
    color: black;
    font-size: 18px;
    font-weight: bold;
    left: 0;
    bottom: 15px;
}